<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css9425.css?family=Tangerine">
    <!-- Plugins CSS -->
    <link href="{{ asset('css/plugin.css') }}" rel="stylesheet" />
    <!-- style CSS -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <!--color switcher css-->
    <link rel="stylesheet" href="css/switcher/skin-aqua.css" media="screen" id="style-colors" />
    <script src="{{ asset('js/plugin.js') }}"></script>
    <!--google maps-->
    <!--Main js-->
    <script src="{{ asset('js/main.js') }}"></script>
    <!--Scripts ends-->
    <!-- Document Title -->
    <title>HFDC</title>
</head>