<html>
{% include  "@SSGlobal/Template/imports.html.twig" %}
<body>
<div class="page-wrapper fixed-footer">
{% include  "@SSGlobal/Template/header.html.twig" %}
{% block bigheader %}
    {% include  "@SSGlobal/Template/largebanner.html.twig" %}
{% endblock %}
{% block smallheader %}
    {% include  "@SSGlobal/Template/smallbanner.html.twig" %}
{% endblock %}

    <div class="container">
        {% block container %}

        {% endblock %}

    </div>


</div>
{% include  "@SSGlobal/Template/footer.html.twig" %}
</body>
</html>