{% extends '@SSGlobal/Template/layout.html.twig' %}
{% block smallheader %}
{% endblock %}

{% block container %}
        <div class="row">
            <div class="col-md-12">
                <form class="hero__form v2 filter">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <input class="hero__form-input custom-select" type="text" name="place-event" id="place-event" placeholder="What are you looking for?">
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <select class="hero__form-input  custom-select">
                                <option>Select Location </option>
                                <option>New York</option>
                                <option>California</option>
                                <option>Washington</option>
                                <option>New Jersey</option>
                                <option>Los angeles</option>
                                <option>Florida</option>
                            </select>

                        </div>
                        <div class="col-lg-3 col-md-12">

                            <select class="hero__form-input  custom-select">
                                <option>Select Categories</option>
                                <option>Art's</option>
                                <option>Health</option>
                                <option>Hotels</option>
                                <option>Real Estate</option>
                                <option>Rentals</option>
                            </select>

                        </div>
                        <div class="col-lg-2 col-md-12">
                            <div class="submit_btn text-right md-left">
                                <button class="btn v3  mar-right-5" type="submit"><i class="ion-ios-search" aria-hidden="true"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="row pad-tb-50 align-items-center">
                    <div class="col-lg-7">
                        <div class="item-view-mode res-box">
                            <!-- item-filter-list start -->
                            <ul class="nav item-filter-list" role="tablist">
                                <li><a data-toggle="tab" href="#grid-view"><i class="ion-grid"></i></a></li>
                                <li><a class="active" data-toggle="tab" href="#list-view"><i class="ion-ios-list"></i></a></li>
                            </ul>
                            <!-- item-filter-list end -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-12">
                        <div class="filter-sub-menu style1 v1">
                            <ul>
                                <li class="has-sub"><a href="# ">More Filters</a>
                                    <ul class="explore__form-checkbox-list full-filter">
                                        <li class="row">
                                            <div class="col-lg-3 col-12 no-pad-lr">
                                                <div class="filter-checkbox">
                                                    <p>Sort By Features</p>
                                                    <input id="check-a" type="checkbox" name="check">
                                                    <label for="check-a">Open Now</label>
                                                    <input id="check-b" type="checkbox" name="check">
                                                    <label for="check-b">Near me</label>
                                                    <input id="check-c" type="checkbox" name="check">
                                                    <label for="check-c">Child Friendly</label>
                                                    <input id="check-d" type="checkbox" name="check">
                                                    <label for="check-d">Free Parking</label>
                                                    <input id="check-f" type="checkbox" name="check">
                                                    <label for="check-f">Events</label>
                                                    <input id="check-e" type="checkbox" name="check">
                                                    <label for="check-e">Free Wifi</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12 no-pad-lr">
                                                <div class="filter-checkbox">
                                                    <p>Sort By Ratings</p>
                                                    <input id="check-w" type="checkbox" name="check">
                                                    <label for="check-w">
                                                        <div class="list-ratings">
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                        </div>
                                                    </label>
                                                    <input id="check-x" type="checkbox" name="check">
                                                    <label for="check-x">
                                                        <div class="list-ratings">
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                        </div>
                                                    </label>
                                                    <input id="check-y" type="checkbox" name="check">
                                                    <label for="check-y">
                                                        <div class="list-ratings">
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                        </div>
                                                    </label>
                                                    <input id="check-z" type="checkbox" name="check">
                                                    <label for="check-z">
                                                        <div class="list-ratings">
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-android-star"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                            <span class="ion-ios-star-outline"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12 no-pad-lr">
                                                <div class="filter-checkbox">
                                                    <p>Sort By tags</p>
                                                    <input id="check-ab" type="checkbox" name="check">
                                                    <label for="check-ab">Hotel</label>
                                                    <input id="check-bc" type="checkbox" name="check">
                                                    <label for="check-bc">Restaurant</label>
                                                    <input id="check-cd" type="checkbox" name="check">
                                                    <label for="check-cd">sports</label>
                                                    <input id="check-df" type="checkbox" name="check">
                                                    <label for="check-df">travel </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12 no-pad-lr">
                                                <div class="filter-checkbox filter-sub-area style1">
                                                    <div class="filter-title mar-bot-30">
                                                        <p>Choose distance : <span><input type="text" id="amount"></span></p>
                                                    </div>
                                                    <div id="slider-range" class="price-range mar-bot-20"></div>
                                                    <button class="btn v3  mar-right-5" type="submit">Apply</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-8 col-12">
                        <div class="item-element res-box  text-right xs-left">
                            <p>{% trans %}Symfony is great{% endtrans %} <span>1-15 of 69</span> Listings</p>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane product-grid">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/place-1.jpg" alt="#">
                                            <span class="trending-rating-green">7</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">Four Seasons Resort</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>4210 Khale Street,Florence,USA</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+843-600-2040</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.laresorta.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg pink"><i class="icofont-hotel"></i></span>
                                                    <p><a href="#">Hotel</a></p>

                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open"><i class="ion-clock"></i>
                                                        Open <p>till 11.00pm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/cafe.jpg" alt="#">
                                            <span class="trending-rating-pink">9</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-two.html">Cafe Intermezzo</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">5 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>2721 Andy Street,ELLSWORTH,USA</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+605-344-1198</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.cafemezzo.com</p>
                                                </li>

                                            </ul>

                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg green"><i class="icofont-tea"></i></span>
                                                    <p><a href="#">Cafe</a></p>
                                                </div>

                                                <div class="trend-right float-right">
                                                    <div class="trend-closed">
                                                        Closed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/place-5.jpg" alt="#">
                                            <span class="trending-rating-orange">6.5</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">Lagoon Theme Park</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.burgerandlobster.com</p>
                                                </li>

                                            </ul>

                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg red"><i class="icofont-travelling"></i></span>
                                                    <p><a href="#">Travel</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open"><i class="ion-clock"></i>
                                                        Open <p>till 10.00pm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/place-4.jpg" alt="#">
                                            <span class="trending-rating-pink">8</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">The Katikies</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.burgerandlobster.com</p>
                                                </li>

                                            </ul>

                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg pink"><i class="icofont-hotel"></i></span>
                                                    <p><a href="#">Hotel</a></p>

                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open"><i class="ion-clock"></i>
                                                        Open <p>till 10.00pm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/place-9.jpg" alt="#">
                                            <span class="trending-rating-green">6.5</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-two.html">Genji Restaurant</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.burgerandlobster.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg green"><i class="icofont-fast-food"></i></span>
                                                    <p><a href="#">Restaurant</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open"><i class="ion-clock"></i>
                                                        Open <p>till 10.00pm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/places/place-11.jpg" alt="#">
                                            <span class="trending-rating-green">8</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">The Straling</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.burgerandlobster.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg green"><i class="ion-ios-cart"></i></span>
                                                    <p><a href="#">Shop</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-closed">
                                                        closed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/event/muay.jpg" alt="#">
                                            <span class="trending-rating-orange">6.5</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">Muay Thai Live Show</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">3 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1690 Brown Avenue,Barline</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+864-940-3419</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.thaishow.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg green"><i class="icofont-movie"></i></span>
                                                    <p><a href="#">Movie</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open mar-top-5"><i class="ion-clock"></i> 2.30 pm</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/event/photo1.jpg" alt="#">
                                            <span class="trending-rating-pink">6.5</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">Carolina photo exibition</a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">10 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>32 down Ave, North Carolina,USA</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+251 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.photoexpo.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg pink"><i class="icofont-camera"></i></span>
                                                    <p><a href="#">Photography</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open mar-top-5"><i class="ion-clock"></i>5.00 pm</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="trending-place-item">
                                        <div class="trending-img">
                                            <img src="images/category/event/coffee.jpg" alt="#">
                                            <span class="trending-rating-green">6.5</span>
                                            <span class="save-btn"><i class="icofont-heart"></i></span>
                                        </div>
                                        <div class="trending-title-box">
                                            <h4><a href="single-listing-one.html">European coffee expo </a></h4>
                                            <div class="customer-review">
                                                <div class="rating-summary float-left">
                                                    <div class="rating-result" title="60%">
                                                        <ul class="product-rating">
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                            <li><i class="ion-android-star-half"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="review-summury float-right">
                                                    <p><a href="#">7 Reviews</a></p>
                                                </div>
                                            </div>
                                            <ul class="trending-address">
                                                <li><i class="ion-ios-location"></i>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><i class="ion-ios-telephone"></i>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><i class="ion-android-globe"></i>
                                                    <p>www.burgerandlobster.com</p>
                                                </li>
                                            </ul>
                                            <div class="trending-bottom mar-top-15 pad-bot-30">
                                                <div class="trend-left float-left">
                                                    <span class="round-bg red"><i class="icofont-tea"></i></span>
                                                    <p><a href="#">Eat &amp; Drink</a></p>
                                                </div>
                                                <div class="trend-right float-right">
                                                    <div class="trend-open mar-top-5"><i class="ion-clock"></i> 10.30 am</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="list-view" class="tab-pane active product-list">
                            <div class="row trending-place-item">
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-img">
                                        <img src="images/category/places/place-1.jpg" alt="#">
                                        <span class="trending-rating-green">7</span>
                                        <span class="save-btn"><i class="icofont-heart"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-title-box">
                                        <h4><a href="single-listing-one.html">Four Seasons Resort</a></h4>
                                        <div class="customer-review">
                                            <div class="rating-summary float-left">
                                                <div class="rating-result" title="60%">
                                                    <ul class="product-rating">
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review-summury float-right">
                                                <p><a href="#">3 Reviews</a></p>
                                            </div>
                                        </div>
                                        <ul class="trending-address">
                                            <li><i class="ion-ios-location"></i>
                                                <p>4210 Khale Street,Florence,USA</p>
                                            </li>
                                            <li><i class="ion-ios-telephone"></i>
                                                <p>+843-600-2040</p>
                                            </li>
                                            <li><i class="ion-android-globe"></i>
                                                <p>www.laresorta.com</p>
                                            </li>
                                        </ul>
                                        <div class="trending-bottom mar-top-15 pad-bot-30">
                                            <div class="trend-left float-left">
                                                <span class="round-bg pink"><i class="icofont-hotel"></i></span>
                                                <p><a href="#">Hotel</a></p>

                                            </div>
                                            <div class="trend-right float-right">
                                                <div class="trend-open"><i class="ion-clock"></i>
                                                    Open <p>till 11.00pm</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row trending-place-item">
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-img">
                                        <img src="images/category/places/cafe.jpg" alt="#">
                                        <span class="trending-rating-pink">9</span>
                                        <span class="save-btn"><i class="icofont-heart"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-title-box">
                                        <h4><a href="single-listing-two.html">Cafe Intermezzo</a></h4>
                                        <div class="customer-review">
                                            <div class="rating-summary float-left">
                                                <div class="rating-result" title="60%">
                                                    <ul class="product-rating">
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review-summury float-right">
                                                <p><a href="#">5 Reviews</a></p>
                                            </div>
                                        </div>
                                        <ul class="trending-address">
                                            <li><i class="ion-ios-location"></i>
                                                <p>2721 Andy Street,ELLSWORTH,USA</p>
                                            </li>
                                            <li><i class="ion-ios-telephone"></i>
                                                <p>+605-344-1198</p>
                                            </li>
                                            <li><i class="ion-android-globe"></i>
                                                <p>www.cafemezzo.com</p>
                                            </li>

                                        </ul>

                                        <div class="trending-bottom mar-top-15 pad-bot-30">
                                            <div class="trend-left float-left">
                                                <span class="round-bg green"><i class="icofont-tea"></i></span>
                                                <p><a href="#">Cafe</a></p>
                                            </div>

                                            <div class="trend-right float-right">
                                                <div class="trend-closed">
                                                    Closed
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row trending-place-item">
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-img">
                                        <img src="images/category/places/place-5.jpg" alt="#">
                                        <span class="trending-rating-orange">6.5</span>
                                        <span class="save-btn"><i class="icofont-heart"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-title-box">
                                        <h4><a href="single-listing-one.html">Lagoon Theme Park</a></h4>
                                        <div class="customer-review">
                                            <div class="rating-summary float-left">
                                                <div class="rating-result" title="60%">
                                                    <ul class="product-rating">
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review-summury float-right">
                                                <p><a href="#">3 Reviews</a></p>
                                            </div>
                                        </div>
                                        <ul class="trending-address">
                                            <li><i class="ion-ios-location"></i>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><i class="ion-ios-telephone"></i>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><i class="ion-android-globe"></i>
                                                <p>www.burgerandlobster.com</p>
                                            </li>

                                        </ul>

                                        <div class="trending-bottom mar-top-15 pad-bot-30">
                                            <div class="trend-left float-left">
                                                <span class="round-bg red"><i class="icofont-travelling"></i></span>
                                                <p><a href="#">Travel</a></p>
                                            </div>
                                            <div class="trend-right float-right">
                                                <div class="trend-open"><i class="ion-clock"></i>
                                                    Open <p>till 10.00pm</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row trending-place-item">
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-img">
                                        <img src="images/category/places/place-4.jpg" alt="#">
                                        <span class="trending-rating-pink">8</span>
                                        <span class="save-btn"><i class="icofont-heart"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-pad-lr">
                                    <div class="trending-title-box">
                                        <h4><a href="single-listing-one.html">The Katikies</a></h4>
                                        <div class="customer-review">
                                            <div class="rating-summary float-left">
                                                <div class="rating-result" title="60%">
                                                    <ul class="product-rating">
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review-summury float-right">
                                                <p><a href="#">3 Reviews</a></p>
                                            </div>
                                        </div>
                                        <ul class="trending-address">
                                            <li><i class="ion-ios-location"></i>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><i class="ion-ios-telephone"></i>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><i class="ion-android-globe"></i>
                                                <p>www.burgerandlobster.com</p>
                                            </li>

                                        </ul>

                                        <div class="trending-bottom mar-top-15 pad-bot-30">
                                            <div class="trend-left float-left">
                                                <span class="round-bg pink"><i class="icofont-hotel"></i></span>
                                                <p><a href="#">Hotel</a></p>

                                            </div>
                                            <div class="trend-right float-right">
                                                <div class="trend-open"><i class="ion-clock"></i>
                                                    Open <p>till 10.00pm</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--pagination starts-->
                        <div class="post-nav nav-res pad-top-10">
                            <div class="row">
                                <div class="col-md-8 offset-md-2  col-xs-12 ">
                                    <div class="page-num text-center">
                                        <ul>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--pagination ends-->
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
